#get-started {
  overflow-y: scroll;
  background: url('public/images/musicbackground.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: left;
  height: 100vh;
  padding: 100px;
  text-align: left;
  background-color: gray;

  .get-started-content {
    max-width: 600px;
    color: white;

    h1 {
      font-size: 4rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 30px;
    }

    button{
      width: 40%;
      background-color: black;
      color: #ffffff;
      padding: 10px 30px;
      border: none;
      font-size: 1.4rem;
      cursor: pointer;
      border-radius:  50px; ;
      transition: all 0.7s ease;
      &:hover {
        background-color: gray;
        color: black;
       transform: scale(1.05);
      }
    }
  }

}


  @media (max-width: 768px) {
    #get-started .get-started-content {
      h1{
      font-size: 2rem;
      margin-bottom: 10px;
      }
      p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 20px;
      }
    }
    #get-started {
      padding-left: 50px;
      padding-right: 150px;
    }
  }